.container {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
}

.N {
  fill: rgb(219, 156, 73);
}

.M {
  fill: rgb(90, 65, 158);
}

.R {
  fill: rgb(196, 148, 158);
}
.node text {
  font: 36px sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
