.white-stepper {
    background-color: white;
  }
  
  /* Customize the step connector line */
  .white-stepper .MuiStepConnector-line {
    display: block;
    border: 1px solid #e0e0e0; /* Change this to your desired line color */
    margin-left: -12px; /* Adjust this to align the line properly */
    margin-right: -12px; /* Adjust this to align the line properly */
  }
  
  .white-stepper .MuiStepConnector-lineHorizontal {
    width: 100%;
    height: 1px;
  }
  
  /* Customize the active step indicator */
  .white-stepper .MuiStepIcon-root.MuiStepIcon-active {
    color: #16181F; /* Change this to your desired active step color */
  }
  
  /* Customize the completed step indicator */
  .white-stepper .MuiStepIcon-root.MuiStepIcon-completed {
    color: #e0e0e0; /* Change this to your desired completed step color */
  }
  
  /* Customize the step icon */
.custom-stepper .MuiStepIcon-root.MuiStepIcon-completed {
    color: orange; /* Change this to your desired color for the completed step icon */
  }

  .MuiStepLabel-label{
    color:"white"
  }